<section class="about" id="about" class="about">
  <div class="container about-container">
    <h2 class="about-title">About the Game</h2>
    <div class="about-text">
      <p class="about-text-item">
        Fruit Wonderland invites you to explore a world bursting with juicy
        excitement where every level is a colorful challenge! This match-3
        puzzle game lets you swap and match an array of vibrant fruits to clear
        levels, each designed with unique challenges and fun objectives.
        Navigate through hundreds of levels filled with deliciously fun
        obstacles, and unlock special boosters to help you along the way.
      </p>
      <picture>
        <source
          srcset="
            ./img/mob/mockups-1x-mob.png 1x,
            ./img/mob/mockups-2x-mob.png 2x
          "
          media="(max-width:375px)"
        />
        <source
          srcset="
            ./img/desktop/mockups-1x-desktop.png 1x,
            ./img/desktop/mockups-2x-desktop.png 2x
          "
          media="(min-width:1440px)"
        />
      </picture>
      <img
        class="about-text-item"
        src="./img/desktop/mockups-1x-desktop.png"
        alt="three phones"
      />
      <p class="about-text-item">
        Whether you're a casual player or a match-3 enthusiast, Fruit Wonderland
        offers endless entertainment with daily rewards, special events, and a
        cheerful soundtrack that will keep you coming back for more. With smooth
        animations and intuitive gameplay, this game is perfect for players of
        all ages. Dive into the fruity fun today and see how far you can go!
      </p>
    </div>
  </div>
</section>
