<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-container-1">
      <div class="advantages-box-item item-1">
        <h3 class="advantages-box-item-title">Powerful Combos</h3>
        <p class="advantages-box-item-text">
          Create and use special fruits to clear levels with exciting effects.
        </p>
      </div>
      <h2 class="advantages-title item-2">Advantages</h2>
      <div class="advantages-box-item item-3">
        <h3 class="advantages-box-item-title">Constant Updates</h3>
        <p class="advantages-box-item-text">
          Enjoy new levels, events, and challenges with frequent updates.
        </p>
      </div>
    </div>

    <div class="advantages-container-2">
      <div class="advantages-box-item item-4">
        <h3 class="advantages-box-item-title">Social Features</h3>
        <p class="advantages-box-item-text">
          Connect with friends and share your achievements on social media.
        </p>
      </div>

      <div class="advantages-box-item item-4">
        <h3 class="advantages-box-item-title">Daily Bonuses</h3>
        <p class="advantages-box-item-text">
          Log in every day to receive free rewards and helpful bonuses.
        </p>
      </div>

      <div class="advantages-box-item item-4">
        <h3 class="advantages-box-item-title">Addictive Gameplay</h3>
        <p class="advantages-box-item-text">
          Easy to pick up, yet challenging enough to keep you engaged for hours.
        </p>
      </div>

      <div class="advantages-box-item item-4">
        <h3 class="advantages-box-item-title">Free to Play</h3>
        <p class="advantages-box-item-text">
          Download for free, with optional in-app purchases available.
        </p>
      </div>
    </div>

    <div class="advantages-container-3">
      <div class="advantages-box-item item-5">
        <h3 class="advantages-box-item-title">Juicy Graphics</h3>
        <p class="advantages-box-item-text">
          Experience vibrant, fruit-themed visuals that are a feast for the
          eyes.
        </p>
      </div>

      <div class="advantages-box-item item-5">
        <h3 class="advantages-box-item-title">Family-Friendly</h3>
        <p class="advantages-box-item-text">
          Perfectly suited for all ages, making it a hit with the whole family.
        </p>
      </div>
    </div>
  </div>
</section>
