<section class="benefites" id="benefites">
  <div class="container">
    <h2 class="benefites-title">Benefits</h2>
    <div class="benefites-wrapper">
      <div class="benefites-wrapper-item">
        <picture>
          <source
            srcset="
              ./img/mob/benefit-1-1x-mob.png 1x,
              ./img/mob/benefit-1-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/benefit-1-1x-desktop.png 1x,
              ./img/desktop/benefit-1-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="board"
            src="./img/mob/benefit-1-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/stars-1x-mob.png 1x,
              ./img/mob/stars-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/stars-1x-desktop.png 1x,
              ./img/desktop/stars-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="stars"
            src="./img/mob/stars-1x-mob.png"
            alt="icon stars"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <picture>
          <source
            srcset="
              ./img/mob/benefit-2-1x-mob.png 1x,
              ./img/mob/benefit-2-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/benefit-2-1x-desktop.png 1x,
              ./img/desktop/benefit-2-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="board"
            src="./img/mob/benefit-2-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/yellowdisk-1x-mob.png 1x,
              ./img/mob/yellowdisk-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/yellowdisk-1x-desktop.png 1x,
              ./img/desktop/yellowdisk-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="yellowdisk-1"
            src="./img/mob/yellowdisk-1x-mob.png"
            alt="icon yellowdisk"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <picture>
          <source
            srcset="
              ./img/mob/benefit-3-1x-mob.png 1x,
              ./img/mob/benefit-3-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/benefit-3-1x-desktop.png 1x,
              ./img/desktop/benefit-3-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="board"
            src="./img/mob/benefit-3-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/yellowdisk-1x-mob.png 1x,
              ./img/mob/yellowdisk-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/yellowdisk-1x-desktop.png 1x,
              ./img/desktop/yellowdisk-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="yellowdisk-2"
            src="./img/mob/yellowdisk-1x-mob.png"
            alt="icon yellowdisk"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <picture>
          <source
            srcset="
              ./img/mob/benefit-4-1x-mob.png 1x,
              ./img/mob/benefit-4-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/benefit-4-1x-desktop.png 1x,
              ./img/desktop/benefit-4-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="board"
            src="./img/mob/benefit-4-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/pineapple-1x-mob.png 1x,
              ./img/mob/pineapple-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/pineapple-1x-desktop.png 1x,
              ./img/desktop/pineapple-2x-desktop.png 2x
            "
            media="(min-width:1440px)"
          />
          <img
            class="pineapple"
            src="./img/mob/pineapple-1x-mob.png"
            alt="icon pineapple"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
