<section class="benefites" id="benefites">
  <div class="container">
    <h2 class="benefites-title">Benefits</h2>
    <div class="benefites-wrapper">
      <div class="benefites-wrapper-item">
        <div class="benefites-overlay benefit-1">
          <p class="benefites-wrapper-item-text">Stars</p>
          <p class="benefites-wrapper-number">4,9</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/mob/board-1x-mob.png 1x,
              ./img/mob/board-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/board-1x-desktop.png 1x,
              ./img/desktop/board-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="board"
            src="./img/mob/board-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/stars-1x-mob.png 1x,
              ./img/mob/stars-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/stars-1x-desktop.png 1x,
              ./img/desktop/stars-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="stars"
            src="./img/mob/stars-1x-mob.png"
            alt="icon stars"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <div class="benefites-overlay benefit-2">
          <p class="benefites-wrapper-item-text">Downloads</p>
          <p class="benefites-wrapper-number">100K+</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/mob/board-1x-mob.png 1x,
              ./img/mob/board-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/board-1x-desktop.png 1x,
              ./img/desktop/board-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="board"
            src="./img/mob/board-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/yellowdisk-1x-mob.png 1x,
              ./img/mob/yellowdisk-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/yellowdisk-1x-desktop.png 1x,
              ./img/desktop/yellowdisk-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="yellowdisk-1"
            src="./img/mob/yellowdisk-1x-mob.png"
            alt="icon yellowdisk"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <div class="benefites-overlay benefit-3">
          <p class="benefites-wrapper-item-text">Reviews</p>
          <p class="benefites-wrapper-number">2K+</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/mob/board-1x-mob.png 1x,
              ./img/mob/board-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/board-1x-desktop.png 1x,
              ./img/desktop/board-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="board"
            src="./img/mob/board-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/yellowdisk-1x-mob.png 1x,
              ./img/mob/yellowdisk-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/yellowdisk-1x-desktop.png 1x,
              ./img/desktop/yellowdisk-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="yellowdisk-2"
            src="./img/mob/yellowdisk-1x-mob.png"
            alt="icon yellowdisk"
          />
        </picture>
      </div>

      <div class="benefites-wrapper-item">
        <div class="benefites-overlay benefit-4">
          <picture>
            <source
              srcset="
                ./img/mob/info-1-1x-mob.png 1x,
                ./img/mob/info-1-2x-mob.png 2x
              "
              media="(max-width:375px)"
            />
            <source
              srcset="
                ./img/desktop/info-1-1x-desktop.png 1x,
                ./img/desktop/info-1-2x-desktop.png 2x
              "
              media="(min-width:1280px)"
            />
            <img src="./img/mob/info-1-1x-mob.png" alt="icon wi-fi" />
          </picture>
          <span class="benefites-wrapper-number">/</span>
          <picture>
            <source
              srcset="
                ./img/mob/info-2-1x-mob.png 1x,
                ./img/mob/info-2-2x-mob.png 2x
              "
              media="(max-width:375px)"
            />
            <source
              srcset="
                ./img/desktop/info-2-1x-desktop.png 1x,
                ./img/desktop/info-2-2x-desktop.png 2x
              "
              media="(min-width:1280px)"
            />
            <img src="./img/mob/info-2-1x-mob.png" alt="icon wi-fi crossed" />
          </picture>
        </div>
        <picture>
          <source
            srcset="
              ./img/mob/board-1x-mob.png 1x,
              ./img/mob/board-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/board-1x-desktop.png 1x,
              ./img/desktop/board-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="board"
            src="./img/mob/board-1x-mob.png"
            alt="icon broad with benefite"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/mob/pineapple-1x-mob.png 1x,
              ./img/mob/pineapple-2x-mob.png 2x
            "
            media="(max-width:375px)"
          />
          <source
            srcset="
              ./img/desktop/pineapple-1x-desktop.png 1x,
              ./img/desktop/pineapple-2x-desktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="pineapple"
            src="./img/mob/pineapple-1x-mob.png"
            alt="icon pineapple"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
