<section class="gallery" id="gallery">
  <div class="gallery-text">
    <h2 class="gallery-title">Gallery</h2>
    <p class="gallery-decription">
      Immerse yourself in Fruit Wonderland, where every match brings you closer
      to fruity triumph and endless joy. Start your fruity adventure today!
    </p>
  </div>
  <div class="gallery-wrapper">
    <div class="swiper-pagination"></div>
    <div class="gallery-content">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/1-1x-mob.png"
                srcset="
                  ./img/desktop/1-1x-desktop.png 1440w,
                  ./img/desktop/1-2x-desktop.png 1440w,
                  ./img/mob/1-1x-mob.png          320w,
                  ./img/mob/1-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 1"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/2-1x-mob.png"
                srcset="
                  ./img/desktop/2-1x-desktop.png 1440w,
                  ./img/desktop/2-2x-desktop.png 1440w,
                  ./img/mob/2-1x-mob.png          320w,
                  ./img/mob/2-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 2"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/3-1x-mob.png"
                srcset="
                  ./img/desktop/3-1x-desktop.png 1440w,
                  ./img/desktop/3-2x-desktop.png 1440w,
                  ./img/mob/3-1x-mob.png          320w,
                  ./img/mob/3-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 3"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/4-1x-mob.png"
                srcset="
                  ./img/desktop/4-1x-desktop.png 1440w,
                  ./img/desktop/4-2x-desktop.png 1440w,
                  ./img/mob/4-1x-mob.png          320w,
                  ./img/mob/4-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 4"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/5-1x-mob.png"
                srcset="
                  ./img/desktop/5-1x-desktop.png 1440w,
                  ./img/desktop/5-2x-desktop.png 1440w,
                  ./img/mob/5-1x-mob.png          320w,
                  ./img/mob/5-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 5"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-item-img">
              <img
                src="./img/mob/6-1x-mob.png"
                srcset="
                  ./img/desktop/6-1x-desktop.png 1440w,
                  ./img/desktop/6-2x-desktop.png 1440w,
                  ./img/mob/6-1x-mob.png          320w,
                  ./img/mob/6-2x-mob.png          320w
                "
                sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
                alt="Gallery Image 6"
              />
            </div>
          </div>
        </div>

        <div class="gallery-arrows">
          <img
            class="gallery-arrow-left"
            src="./img/mob/arrow-right-1x-mob.png"
            srcset="
              ./img/desktop/arrow-right-orange-1x-desktop.png 1440w,
              ./img/desktop/arrow-right-orange-2x-desktop.png 1440w,
              ./img/mob/arrow-right-1x-mob.png                 320w,
              ./img/mob/arrow-right-2x-mob.png                 320w
            "
            sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
            alt="Right Arrow"
          />
          <img
            class="gallery-arrow-right"
            src="./img/mob/arrow-right-1x-mob.png"
            srcset="
              ./img/desktop/arrow-right-orange-1x-desktop.png 1440w,
              ./img/desktop/arrow-right-orange-2x-desktop.png 1440w,
              ./img/mob/arrow-right-1x-mob.png                 320w,
              ./img/mob/arrow-right-2x-mob.png                 320w
            "
            sizes="(min-width: 1440px) 1440px, (max-width: 320px) 320px"
            alt="Right Arrow"
          />
        </div>
      </div>
    </div>
  </div>
</section>
