<header class="header">
  <div class="container header-container">
    <div class="mobile-menu">
      <div class="header-logo">
        <img
          class="header-logo-mob"
          src="./img/mob/logo-1x-mob.png"
          srcset="./img/mob/logo-1x-mob.png 1x, ./img/mob/logo-2x-mob.png 2x"
          alt="logo"
          width="46"
          height="46"
        />
        <img
          class="header-logo-desktop"
          src="./img/desktop/logo-1x-desktop.png"
          srcset="
            ./img/desktop/logo-1x-desktop.png 1x,
            ./img/desktop/logo-2x-desktop.png 2x
          "
          alt="logo"
          width="60"
          height="60"
        />
        <p class="header-text">Fruit Puzzle Wonderland</p>
      </div>
      <button type="button" class="header-burger js-open-menu">
        <img
          src="./img/mob/menu-1x.png"
          srcset="./img/mob/menu-1x.png 1x, ./img/mob/menu-2x.png 2x"
          alt="burger"
          width="27"
          height="24"
        />
      </button>
    </div>
    <div class="menu js-menu-container">
      <nav class="header-nav js-menu-container">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="./index.html" class="header-nav-link">Home</a>
          </li>

          <li class="header-nav-item">
            <a href="#benefites" class="header-nav-link">Benefits</a>
          </li>

          <li cclass="header-nav-item">
            <a href="#about" class="header-nav-link">About the Game</a>
          </li>

          <li class="header-nav-item">
            <a href="#rules" class="header-nav-link">How to Play</a>
          </li>

          <li class="header-nav-item">
            <a href="#gallery" class="header-nav-link">Gallery</a>
          </li>

          <li class="header-nav-item">
            <a href="#advantages" class="header-nav-link">Advantages</a>
          </li>

          <!-- <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
