<section class="hero" id="hero">
  <div class="container hero-container">
    <h1 class="hero-title">FRUIT WONDERLAND</h1>
    <p class="hero-text">
      Enter the vibrant world of Fruit Wonderland and embark on a juicy
      adventure packed with exciting puzzles and colorful fruits! Don’t miss
      out—download Fruit Wonderland today and start your journey through a
      fruity paradise!
    </p>
    <img class="hero-img" src="./img/mob/main-1x-mob.png" alt="photo of game" />
    <a class="hero-link" href="https://play.google.com/store">
      <img src="../img/mob/badge-1x-mob.png" />
    </a>
  </div>
</section>
