<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-main">
    <h1 class="hero-title">FRUIT WONDERLAND</h1>
    <p class="hero-text">
      Enter the vibrant world of Fruit Wonderland and embark on a juicy
      adventure packed with exciting puzzles and colorful fruits! Don’t miss
      out—download Fruit Wonderland today and start your journey through a
      fruity paradise!
    </p>
    </div>
    <img class="hero-img" src="./img/mob/main-1x-mob.png" alt="photo of game" />
    <a class="hero-link" href="https://play.google.com/store">
      <img src="../img/mob/badge-1x-mob.png" />
    </a>
     </div>
    <picture class="cloud cloud-1">
      <source
        srcset="
          ./img/desktop/cloud-2-1x-desktop.png 1x,
          ./img/desktop/cloud-2-2x-desktop.png 2x
        "
      />
      <img src="../img/desktop/cloud-2-1x-desktop.png " alt="cloud-1" />
    </picture>
    <picture class="cloud cloud-2">
      <source
        srcset="
          ./img/desktop/cloud-3-1x-desktop.png 1x,
          ./img/desktop/cloud-3-2x-desktop.png 2x
        "
      />
      <img src="../img/desktop/cloud-3-1x-desktop.png " alt="cloud-1" />
    </picture>
    <picture class="cloud cloud-3">
      <source
        srcset="
          ./img/desktop/cloud-4-1x-desktop.png 1x,
          ./img/desktop/cloud-4-2x-desktop.png 2x
        "
      />
      <img src="../img/desktop/cloud-4-1x-desktop.png " alt="cloud-1" />
    </picture>
    <picture class="cloud cloud-4">
      <source
        srcset="
          ./img/desktop/cloud-5-1x-desktop.png 1x,
          ./img/desktop/cloud-5-2x-desktop.png 2x
        "
      />
      <img src="../img/desktop/cloud-5-1x-desktop.png " alt="cloud-1" />
    </picture>
    <picture class="cloud cloud-5">
      <source
        srcset="
          ./img/desktop/cloud-6-1x-desktop.png 1x,
          ./img/desktop/cloud-6-2x-desktop.png 2x
        "
      />
      <img src="../img/desktop/cloud-6-1x-desktop.png " alt="cloud-1" />
    </picture>
  </div>
</section>
