<section class="privacy">
  <div class="container privacy-container">
    <div class="privacy-intro">
      <h1 class="privacy-title">Privacy policy</h1>
      <p class="privacy-text">
        This privacy policy will explain how our organization uses the personal
        data we collect from you when you use our website.
      </p>
      <p class="privacy-text">
        Topgamehorizon.com is a free online gaming platform where the gamer can
        play and win without any risks. It is a simple portal to access social
        games for free and play with your friends. Remember that winning at
        these games does not mean you will have any future winnings. It is
        crucial that you remember this since your luck will differ depending on
        many factors. Have fun and Play as much as you like.
      </p>
    </div>

    <div>
      <h2 class="privacy-subtitle">Marketing</h2>
      <p class="privacy-text">
        You have the right at any time to stop Topgamehorizon.com contacting you
        for marketing purposes.
      </p>
      <p class="privacy-text">
        Topgamehorizon.com would like to send you information about products and
        services of ours that we think you might like, as well as those of our
        partner companies.
      </p>
      <p class="privacy-text">
        If you have agreed to receive marketing, you may always opt out at a
        later date.
      </p>
      <p class="privacy-text">
        If you have agreed to receive marketing, you may always opt out at a
        later date.
      </p>
    </div>
    <div>
      <h2 class="privacy-subtitle">What are your data protection rights?</h2>
      <p class="privacy-text">
        Cool play Topgamehorizon.com vault.com would like to make sure you are
        fully aware of all of your data protection rights. Every user is
        entitled to the following:
      </p>
      <ul>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span">The right to access</span> – You
            have the right to request Topgamehorizon.com for copies of your
            personal data.
          </p>
        </li>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span">The right to rectification</span>–
            You have the right to request that Topgamehorizon.com correct any
            information you believe is inaccurate. You also have the right to
            request us to complete the information you believe is incomplete.
          </p>
        </li>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span">The right to erasure</span>– You
            have the right to request that Topgamehorizon.com erase your
            personal data, under certain conditions.
          </p>
        </li>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span"
              >The right to restrict processing</span
            >– You have the right to request that Topgamehorizon.com restrict
            the processing of your personal data, under certain conditions.
          </p>
        </li>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span"
              >The right to object to processing </span
            >– You have the right to object to Topgamehorizon.com processing of
            your personal data, under certain conditions.
          </p>
        </li>
        <li>
          <p class="privacy-text">
            <span class="privacy-text-span">The right to data portability</span
            >– You have the right to request that Topgamehorizon.com transfer
            the data that we have collected to another organization, or directly
            to you, under certain conditions.
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="privacy-subtitle">Changes to our privacy policy</h2>
      <p class="privacy-text">
        Topgamehorizon.com keeps its privacy policy under regular review and
        places any updates on this web page.
      </p>
    </div>
  </div>
</section>
