<section class="rules rules-down" id="rules">
  <div class="container">
    <h2 class="rules-title">How to Play</h2>
    <ul class="rules-list">
      <li class="rules-list-item">
        <span class="rules-list-item-span span-1">1</span>
        <p class="rules-list-item-text">
          Swap adjacent fruits to form a row or column of three or more
          identical fruits
        </p>
      </li>

      <li class="rules-list-item">
        <span class="rules-list-item-span span-2">2</span>
        <p class="rules-list-item-text">
          Match four or more fruits to create special fruits with powerful
          effects
        </p>
      </li>

      <li class="rules-list-item">
        <span class="rules-list-item-span span-3">3</span>
        <p class="rules-list-item-text">
          Clear obstacles like ice, vines, and more by matching nearby fruits
        </p>
      </li>

      <li class="rules-list-item">
        <span class="rules-list-item-span span-4">4</span>
        <p class="rules-list-item-text">
          Complete levels by collecting specific fruit types or reaching score
          targets
        </p>
      </li>

      <li class="rules-list-item">
        <span class="rules-list-item-span span-5">5</span>
        <p class="rules-list-item-text">
          Use special boosters to overcome tricky levels and advance faster
        </p>
      </li>

      <li class="rules-list-item">
        <span class="rules-list-item-span span-6">6</span>
        <p class="rules-list-item-text">
          Progress through the vibrant map, unlocking new levels and challenges
          as you go
        </p>
      </li>
    </ul>
  </div>
</section>
