.about {
  padding: 20px 0;
  background-color: var(--bg-secondary);
}

.about-container {
  font-size: 14px;
  line-height: calc(16.41 / 14);
}

.about-title {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 56px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 28px;
  line-height: calc(44.98 / 28);
  text-align: center;
}

.about-text {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .about {
    background-image: url('./img/mob/tree-1x-mob.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 320px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .about {
      background-image: url('./img/mob/tree-2x-mob.png');
      background-size: 320px;
    }
  }
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-text-item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

@media screen and (min-width: 1440px) {
  .about {
    padding: 40px 0;
  }

  .about {
    background-image: url('./img/desktop/tree-1x-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .about {
      background-image: url('./img/desktop/tree-2x-desktop.png');
    }
  }

  .about-container {
    font-size: 24px;
    line-height: calc(28.13 / 24);
  }

  .about-title {
    margin-bottom: 28px;
    font-size: 60px;
    line-height: calc(96.39 / 60);
  }

  .about-text-item {
    margin-bottom: 36px;
  }
}
