.benefites {
  padding: 40px 0;
  text-align: center;
  background: var(--bg-gradient);
}

.benefites-title {
  margin: 0 auto;
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 28px;
  line-height: calc(44.98 / 28);
  text-align: center;
}

.benefites-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.benefites-wrapper-item {
  position: relative;
  width: 126px;
  height: 108px;
  color: var(--font-color-secondary);
}

.board {
  position: relative;
  z-index: 4;
}

.benefites-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.benefit-1 {
  padding: 26px 36px;
}

.benefit-2 {
  padding: 26px 10px;
}

.benefit-3 {
  padding: 26px 30.5px;
}

.benefit-4 {
  padding: 35px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}

.benefites-wrapper-item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18.75 / 16);
}

.benefites-wrapper-number {
  font-family: var(--font-accent);
  font-size: 32px;
  line-height: calc(37.32 / 32);
  text-shadow: 1px 1px 0 var(--border-color), -2px 2px 0 var(--border-color),
    1px -1px 0 var(--border-color), -1px 1px 0 var(--border-color);
}

.stars,
.yellowdisk-1,
.yellowdisk-2,
.pineapple {
  position: absolute;
}

@media screen and (max-width: 375px) {
  .stars {
    z-index: 10;
    top: -75px;
    left: 20px;
  }
  .yellowdisk-1 {
    z-index: 3;
    top: -30px;
    right: 10px;
  }

  .yellowdisk-2 {
    z-index: 0;
    bottom: -20px;
    left: 30px;
  }

  .pineapple {
    z-index: 10;
    bottom: -30px;
    right: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .benefites {
    padding: 120px 0;
  }

  .benefites-title {
    margin-bottom: 28px;
    font-family: var(--font-secondary);
    font-size: 60px;
    line-height: calc(96.39 / 60);
  }

  .benefites-wrapper {
    margin: 0 auto;
    width: 830px;
    height: 418px;
    gap: 24px;
  }

  .benefites-wrapper-item {
    position: relative;
    width: 403px;
    height: 197px;
    color: var(--font-color-secondary);
  }

  .benefites-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .benefites-wrapper-item-text {
    font-size: 28px;
    font-weight: 500;
    line-height: calc(32.81 / 28);
  }

  .benefites-wrapper-number {
    font-size: 88px;
    line-height: calc(102.64 / 88);
  }

  .benefit-1 {
    padding: 30px 127px;
  }

  .benefit-2 {
    padding: 30px 56px;
  }

  .benefit-3 {
    padding: 30px 113px;
  }

  .benefit-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 44px 95px;
  }

  .stars {
    z-index: 10;
    top: 140px;
    left: -95px;
  }
  .yellowdisk-1 {
    z-index: 3;
    top: -80px;
    right: 35px;
  }

  .yellowdisk-2 {
    z-index: 0;
    bottom: -80px;
    left: 40px;
  }

  .pineapple {
    z-index: 10;
    bottom: -40px;
    right: -125px;
  }
}
