.hero {
  padding: 40px 0;
}

.hero-container-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  /* position: relative; */
  font-family: var(--font-accent);
  font-size: 28px;
  line-height: calc(33.18 / 28);
  color: var(--bg-secondary);
  text-shadow: 1px 1px 0 var(--font-color-primary),
    -1px -1px 0 var(--font-color-primary), 1px -1px 0 var(--font-color-primary),
    -1px 1px 0 var(--font-color-primary);
}

/* .hero-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
  filter: blur(2px);
  clip-path: inset(0 0 5px 0);
} */

.hero-text {
  margin-top: 18px;
  font-size: 14px;
  line-height: calc(16.41 / 14);
}

.hero-img-mob {
  margin: 16px 0 18px 0;
}

.hero-img-desktop {
  display: none;
}

.hero-link {
  width: 159px;
  height: 47px;
  background-color: transparent;
  border: transparent;
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 80px 0 120px 0;
  }

  .hero-container {
    display: flex;
    align-items: flex-end;
    column-gap: 113px;
  }

  .hero-container-mob {
    align-items: flex-start;
  }

  .hero-img-mob {
    display: none;
  }

  .hero-img-desktop {
    display: flex;
  }

  .hero-title {
    font-size: 98px;
    line-height: calc(114.31 / 98);
  }

  .hero-text {
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: calc(27.84 / 24);
  }

  .hero-link {
    width: 203px;
    height: 60px;
  }
}
