.privacy {
  padding: 60px 0;
  background-image: var(--bg-gradient-2);
  background-size: cover;
  background-repeat: repeat;
  background-position-y: bottom;
}
.privacy-container {
  font-size: 16px;
  line-height: calc(18.75 / 16);
}
.privacy-container-btn {
  display: flex;
  justify-content: center;
}
.privacy-button {
  margin: 0 auto;
  padding: 4px 93px;
  border: 1px solid var(--font-color-primary);
  border-radius: 12px;
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 400;
  line-height: calc(44.98 / 28);
  transition: all 0.5s ease;
}
.privacy-button:hover {
  background-color: #f1f1f1;
}
.privacy-title {
  margin-top: 44px;
  font-family: var(--font-accent);
  font-size: 32px;
  line-height: calc(37.92 / 32);
  color: var(--font-color-secondary);
  text-shadow: 1px 1px 0 var(--font-color-primary),
    -1px -1px 0 var(--font-color-primary), 1px -1px 0 var(--font-color-primary),
    -1px 1px 0 var(--font-color-primary);
}
.privacy-text {
  margin-top: 18px;
}
.privacy-subtitle {
  margin-top: 24px;
  font-family: var(--font-secondary);
  font-size: 28px;
  line-height: calc(44.98 / 28);
  color: var(--font-color-secondary);
}
.privacy-text-span {
  color: var(--font-color-secondary);
  font-family: var(--font-secondary);
  font-size: 16px;
}

@media screen and (min-width: 1280px) {
  .privacy-container {
    padding: 0 16px;
  }
  .privacy-button {
    font-size: 36px;
    padding: 10px 80px 10px 80px;
  }
  .privacy-subtitle {
    font-size: 48px;
    margin-top: 48px;
  }
  .privacy-title {
    font-size: 48px;
  }
  .privacy-text {
    font-size: 36px;
  }

  .privacy-text {
    margin-top: 40px !important;
  }
  .privacy-text-span {
    font-size: 36px;
  }
}
