@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik+Bubbles&family=Shadows+Into+Light&display=swap');
@import './common/reset.css';
@import './common/container.css';

@import './header.css';
@import './hero.css';
@import './attantion.css';
@import './benefites.css';
@import './about.css';
@import './rules.css';
@import './gallery.css';
@import './advantages.css';
@import './introduction.css';
@import './privacy.css';
@import './footer.css';

:root {
  --width-main-container: 1280px;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Shadows Into Light', sans-serif;
  --font-accent: 'Rubik Bubbles', sans-serif;
  --font-color-primary: #1b1b1b;
  --font-color-secondary: #f1f1f1;
  --font-color-accent: #f35900;

  --border-color: #939393;

  --bg-primary: #2eb9fc;
  --bg-secondary: #a6eb04;
  --bg-third: #f1f1f1;
  --bg-header: #d9d9d94d;
  --bg-mob-menu: #e4e4e41a;
  --bg-accent: #f9db02;
  --bg-gradient: linear-gradient(
    180deg,
    var(--bg-primary) 0%,
    rgba(255, 255, 255, 0.6) 55%,
    var(--bg-primary) 100%
  );
  --bg-gradient-2: linear-gradient(
    165deg,
    rgba(46, 185, 252, 0.6) 0%,
    rgba(241, 241, 241, 0.48) 46.5%,
    rgba(46, 185, 252, 0.6) 100%
  );
}
