@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik+Bubbles&family=Shadows+Into+Light&display=swap');
@import './common/reset.css';
@import './common/container.css';

@import './header.css';
@import './hero.css';
@import './attantion.css';
@import './benefites.css';
@import './about.css';
@import './rules.css';
/* @import './gallery.css'; */
@import './advantages.css';
@import './introduction.css';
@import './footer.css';

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Shadows Into Light', sans-serif;
  --font-accent: 'Rubik Bubbles', sans-serif;
  --font-color-primary: #1b1b1b;
  --font-color-secondary: #f1f1f1;
  --font-color-accent: #f35900;

  --border-color: #939393;

  --bg-primary: rgb(0, 191, 255);
  --bg-secondary: #a6eb04;
  --bg-third: #f1f1f1;
  --bg-header: #d9d9d94d;
  --bg-mob-menu: #e4e4e41a;
  --bg-accent: #f9db02;
  --bg-gradient: linear-gradient(
    0deg,
    var(--bg-primary),
    var(--bg-third) 60%,
    var(--bg-primary)
  );
  --bg-gradient-2: linear-gradient(
    135deg,
    var(--bg-primary),
    var(--bg-third) 80%,
    var(--bg-primary)
  );
}
